<section class="quiz-embed-wrap" style="min-height:80vh; padding:0">
  <div id="qp_main" data-qp-quiz-id="jNP6y2" style="width:100%"></div>
  <script src="https://admin.revenuehunt.com/embed.js" async></script>
</section>

{% schema %}
{
  "name": "Quiz",
  "settings": []
}
{% endschema %}
